@import "tailwindcss";
@plugin 'tailwind-scrollbar';

@custom-variant dark (&:is(.dark *));

:root {
  --twemoji-rounded-parent: 10px;
  --twemoji-rounded: 6px;
  --twemoji-icon-stroke-width: 1.5;

  --twemoji-background: white;
  --twemoji-foreground: black;

  --twemoji-highlight-color: oklch(70.7% 0.165 254.624);
  --twemoji-accent-color: oklch(98.5% 0.002 247.839); /* tailwind gray 50 */
  --twemoji-secondary-color: oklch(96.7% 0.003 264.542); /* tailwind gray 100 */
  --twemoji-error-color: oklch(70.4% 0.191 22.216); /* tailwind red 400 */

  --twemoji-border-color: oklch(87.2% 0.01 258.338); /* tailwind gray 300 */

  --twemoji-icon-color: oklch(44.6% 0.03 256.802); /* tailwind gray 600 */
}

.dark {
  --twemoji-background: black;
  --twemoji-foreground: white;

  --twemoji-highlight-color: oklch(62.3% 0.214 259.815);
  --twemoji-accent-color: oklch(13% 0.028 261.692); /* tailwind gray 950 */
  --twemoji-secondary-color: oklch(21% 0.034 264.665); /* tailwind gray 900 */
  --twemoji-error-color: oklch(50.5% 0.213 27.518); /* tailwind red 700 */

  --twemoji-border-color: oklch(37.3% 0.034 259.733); /* tailwind gray 700 */

  --twemoji-icon-color: oklch(70.7% 0.022 261.325); /* tailwind gray 400 */
}

.twemoji-button {
  @apply cursor-pointer hover:bg-(--twemoji-secondary-color) focus-visible:outline-2 focus-visible:outline-(--twemoji-highlight-color) focus-visible:-outline-offset-[2px] focus-visible:bg-(--twemoji-secondary-color) rounded-(--twemoji-rounded) p-1.5 text-(--twemoji-icon-color);
}

.twemoji-submit-button {
  @apply cursor-pointer bg-(--twemoji-highlight-color) hover:bg-[#8ec5ff] text-white focus-visible:outline-2 focus-visible:outline-(--twemoji-highlight-color) focus-visible:outline-offset-2 focus-visible:bg-(--twemoji-highlight-color) rounded-(--twemoji-rounded) p-1.5;
}

.twemoji-border {
  @apply outline-1 outline-(--twemoji-border-color);
}

.twemoji-input {
  @apply rounded-(--twemoji-rounded) bg-(--twemoji-accent-color) outline-1 outline-(--twemoji-border-color) focus-visible:outline-2 focus-visible:outline-(--twemoji-highlight-color) focus-visible:-outline-offset-[2px];
}

.emoji-grid {
  margin-left: 4px !important;
  overflow-x: hidden !important;

  /* Firefox scrollbar */
  scrollbar-width: thin !important;
  scrollbar-color: #eeeef6 transparent;
}

/* Firefox dark mode */
.dark .emoji-grid {
  scrollbar-color: #25272d transparent;
}

/* Chrome, Edge, Safari scrollbar */
.emoji-grid::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}
.emoji-grid::-webkit-scrollbar-thumb {
  background-color: #eeeef6;
}
.emoji-grid::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Chrome, Edge, Safari dark mode scrollbar */
.dark .emoji-grid::-webkit-scrollbar-thumb {
  background-color: #25272d;
}
