@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  scrollbar-width: thin;
  scrollbar-color: var(--tt-scrollbar-color) transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--tt-scrollbar-color);
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.tiptap.ProseMirror {
  font-family: "DM Sans", sans-serif;
}

.simple-editor-wrapper {
  width: 100%;
  overflow: auto;
  border: 1px solid var(--border);
  padding: 1rem;
  border-radius: 0.75rem;
}

.simple-editor-content {
  max-width: 648px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.simple-editor-content .tiptap.ProseMirror.simple-editor {
  flex: 1;
  padding: 3rem 3rem 30vh;
}

.tiptap.ProseMirror {
  [data-type="horizontalRule"] {
    margin: 1rem 0 !important;
  }

  a {
    color: var(--primary) !important;
    cursor: pointer;
    text-decoration: none !important;

    &:hover {
      text-decoration: underline !important;
    }
  }

  h2 {
    margin-top: 0 !important;
  }

  li {
    margin-top: 0.75rem;
  }
}

@media screen and (max-width: 480px) {
  .simple-editor-content .tiptap.ProseMirror.simple-editor {
    padding: 1rem 1.5rem 30vh;
  }
}
